.daterangepicker__option,
.daterangepicker__cutom,
.daterangepicker__start,
.daterangepicker__to,
.daterangepicker__end,
.daterangepicker__year,
.daterangepicker__month {
  display: inline-block;
}
.daterangepicker__input[type=text] {
  cursor: pointer;
}
.daterangepicker__dropdown {
  position: absolute;
  border: 1px solid #ddd;
  background-color: #fff;
  z-index: 10;
}
.daterangepicker__prev {
  position: absolute;
  top: 0;
  left: 0;
}
.daterangepicker__next {
  position: absolute;
  top: 0;
  right: 0;
}
.daterangepicker__calendars {
  text-align: center;
}
.daterangepicker__calendars .disabled {
  color: #aaa;
}
.daterangepicker__calendars .selected {
  background-color: #3498db;
  color: #fff;
}
.daterangepicker__calendars td {
  cursor: pointer;
}
.daterangepicker__calendars td:hover {
  background-color: #ddd;
}
