<div class="daterangepicker" ng-click="$event.stopPropagation()">
  <input readonly class="daterangepicker__input" ng-click="toggleDropdown()" ng-show="!!model" value="{{start.format(format.date ? format.date : 'YYYY/MM/DD')}}&nbsp;{{format.to ? format.to : '-'}}&nbsp;{{end.format(format.date ? format.date : 'YYYY/MM/DD')}}">
  <div class="daterangepicker__dropdown" ng-show="showDropdown">
    <div class="daterangepicker__header">
      <div class="daterangepicker__aside">
        <button ng-click="applyRange(rangeOption.value)" ng-repeat="rangeOption in rangeOptions">{{rangeOption.label}}
      </div>
      <div class="daterangepicker__calendars">
        <button class="daterangepicker__prev" ng-click="prev()"><</button>
        <button class="daterangepicker__next" ng-click="next()">></button>
        <div class="daterangepicker__calendar" ng-repeat="calendarDaysArray in calendars">
          <h4 class="daterangepicker__month" ng-click="changeSelect(months[$index].value)">{{months[$index].name}}
          </h4>
          <table>
            <thead>
              <tr>
                <th ng-repeat="week in weeks">
                  {{week}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="days in calendarDaysArray">
                <td ng-repeat="day in days track by $index" ng-class="{ 'daterangepicker_state_selected': day.selected }" ng-click="select($parent.$parent.$index, day)">
                  {{day.value}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="daterangepicker__footer">
      <button class="daterangepicker__apply" ng-click="ok()">OK</button>
      <button class="daterangepicker__cancel" ng-click="cancel()">CANCEL</button>
    </div>
  </div>
</div>