.daterangepicker__option
.daterangepicker__cutom
.daterangepicker__start
.daterangepicker__to
.daterangepicker__end
  display inline-block

.daterangepicker__input
  &[type=text]
    cursor pointer

.daterangepicker__dropdown
  position absolute
  border 1px solid #ddd

.daterangepicker__calendars
  .disabled
    color #aaa
  .selected
    background-color #3498db
    color #fff