.daterangepicker(ng-click="$event.stopPropagation()")
  .daterangepicker__option
    select(ng-model="selectedOption" ng-options="option.label for option in options" ng-change="onChangeSelect()" ng-click="onClickSelect()")
  .daterangepicker__cutom(ng-show="selectedOption.value === 'custom'")
    .daterangepicker__start
      input.daterangepicker__input(ng-if="isMobile" type="date" ng-model="start.value._d")
      input.daterangepicker__input(ng-if="!isMobile" type="text" ng-model="start.value.format(format.date)" ng-click="toggleDropdown('start')" readonly="")
      .daterangepicker__dropdown(ng-show="start.show" ng-if="!isMobile")
        button.daterangepicker__prev(ng-click="onChangeMonth('start', -1)") &lt;
        button.daterangepicker__next(ng-click="onChangeMonth('start', 1)" ng-if="start.month < end.month") &gt;
        .daterangepicker__calendars
          h4.daterangepicker__year {{ _moment.clone().month(start.month).format(locale.year || 'YYYY') }}
          h4.daterangepicker__month {{ _moment.clone().month(start.month).format('MMMM') }}
          table
            thead
              tr
                th(ng-repeat="week in weeks") {{ week }}
            tbody
              tr(ng-repeat="week in start.days")
                td(ng-repeat="day in week" ng-class="{ disabled: day.disabled, selected: !day.disabled && (start.value.month() === _moment.clone().month(start.month).month()) && (day.value == start.value.format('D')) }" ng-click="onSelectDay('start', day, day.value, end.value.format('D'))") {{ day.value }}
    .daterangepicker__to(ng-bind="format.to")
    .daterangepicker__end
      input.daterangepicker__input(ng-if="isMobile" type="date" ng-model="end.value._d")
      input.daterangepicker__input(ng-if="!isMobile" type="text" ng-model="end.value.format(format.date)" ng-click="toggleDropdown('end')" readonly="")
      .daterangepicker__dropdown(ng-show="end.show" ng-if="!isMobile")
        button.daterangepicker__prev(ng-click="onChangeMonth('end', -1)" ng-if="start.month < end.month") &lt;
        button.daterangepicker__next(ng-click="onChangeMonth('end', 1)") &gt;
        .daterangepicker__calendars
          h4.daterangepicker__year {{ _moment.clone().month(end.month).format(locale.year || 'YYYY') }}
          h4.daterangepicker__month {{ _moment.clone().month(end.month).format('MMMM') }}
          table
            thead
              tr
                th(ng-repeat="week in weeks") {{ week }}
            tbody
              tr(ng-repeat="week in end.days")
                td(ng-repeat="day in week" ng-class="{ disabled: day.disabled, selected: !day.disabled && (end.value.month() === _moment.clone().month(end.month).month()) && (day.value == end.value.format('D')) }" ng-click="onSelectDay('end', day, start.value.format('D'), day.value)") {{ day.value }}